@media only screen and (min-width: 800px) {
    @import url('https://fonts.googleapis.com/css?family=Oswald');
    
    body {
        background-color: #000;
        font-family: 'Oswald', sans-serif;
        color: #999;
    }
    
    .yellow {
        background-color: #cc9900;
        color: #000;
    }
    
    .red {
        background-color: #cc0000;
        color: #000;
    }
    
    .black {
        background-color: #000;
        color: #cc9900;
    }
    
    .blue {
        color: #000;
        background-color: #1d5297;
    }
    
   #top {
        border-top-left-radius: 25px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 100%;
    }
    
    #menu {
        font-weight: bolder;
        text-align: center;
        margin-top: 0;
        width: 100px;
        height: 75px;
        display: table-cell;
        vertical-align: bottom;
    }
    
    #name {
        margin-top: -18px;
        margin-right: 20px;
        padding-left: 5px;
        padding-right: 5px;
        float: right;
        display: table-cell;
        vertical-align: middle;
        font-weight: bolder;
        text-align: center;
    }
    
    a {
        text-decoration: none;
        font-weight: bolder;
        color: #000;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    .active {
       font-style: italic;
        text-decoration: overline;
        
    }
    
    .center {
        line-height: 50px;
        text-align: center;
    }
    
    .column {
        width: 105px;
        height: 50px;
        margin-top: 5px;
        border-radius: 3px;
    }
    
    #blank {
        font-weight: bolder;
        text-align: center;
        width: 100px;
        height: 75px;
    }
    
    #bottom {
        width: 100%;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
}